@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  scroll-padding: 100px;
  font-family: "Sarabun", sans-serif;
}

.legend {
  text-align: center;
}

div.react-multi-carousel-list {
  height: 100%;
}
button.react-multiple-carousel__arrow {
  z-index: 1;
}
div.bg-black.text-white ul.react-multi-carousel-dot-list {
  position: absolute;
  top: 60%;
}
div.mt-16 ul.react-multi-carousel-dot-list {
  position: absolute;
  top: 50%;
}
div.bg-white ul.react-multi-carousel-dot-list {
  position: absolute;
  top: 60%;
}
