@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  scroll-padding: 100px;
  font-family: "Sarabun", sans-serif;
}

.legend {
  text-align: center;
}

div.react-multi-carousel-list {
  height: 100%;
}
button.react-multiple-carousel__arrow {
  z-index: 1;
}
